<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <nav>
        <li>
            <ul><a href="#main">Home</a></ul>
            <ul><a href="#"></a></ul>
            <ul><a href="#"></a></ul>
        </li>
    </nav>
    <section id="main">
        <h1>Welcome on AirBnB</h1>
        <h4>Experience the World, One Home at a Time</h4>
        <div>
            <a href=""><button>Sign in</button></a>
            <a href=""><button>Connect</button></a>
        </div>
    </section>
    <section id="about">
        <h1>About us</h1>
        <p>
            Discover your perfect getaway with our property rental platform, where you can find unique accommodations that suit every budget and lifestyle. From cozy apartments in bustling city centers to serene villas in remote paradises, we connect travelers with hosts offering spaces that feel like home. Whether you're planning a weekend escape or a month-long adventure, our platform ensures a seamless booking experience with trusted reviews, 24/7 support, and secure transactions.
        </p>
        a>bu
    </section>
</body>
</html>